.App {
  text-align: center;
}

body {
  background-color: #45495e;
  color: #f8f8f2;
}
.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.cursiveFont {
  font-family: cursive;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.card {
  background-color: #abb1c3;
}

.card:hover {
  background-color: #272b3f;
  color: #ffffff;
}
.customRow {
  background-color: #6d728b;
  color: #f8f8f2;
}
table tr {
  color: #f8f8f2;
}

table tr:hover {
  background-color: #272b3f;
}

.previousValue {
  text-decoration: line-through;
  color: #fa5f47;
}

input[type="checkbox"] {
  /* Double-sized Checkboxes */
  -ms-transform: scale(1.5); /* IE */
  -moz-transform: scale(1.5); /* FF */
  -webkit-transform: scale(1.5); /* Safari and Chrome */
  -o-transform: scale(1.5); /* Opera */
  padding: 10px;
  margin-left: 10px;
}
